form.simple_budgeting.form {

  & .field {
    & {
      @apply mt-1 mb-3;
    }

    & label {
      @apply text-sm text-gray-500;
    }
    & input[type="text"], & input[type="date"], & input[type="tel"], & input[type="password"], & input[type="number"], & input[type="datetime-local"], & select, & textarea {
      @apply block text-xs md:text-base w-full shadow-sm focus:ring-emerald-500 focus:border-emerald-500 border-gray-300 rounded-md;

      &[disabled] {
        @apply bg-gray-200 cursor-not-allowed;
      }
    }
    
    & input[type="radio"], & input[type="checkbox"] {
      @apply text-xs md:text-base rounded-full;

      &[disabled] {
        @apply bg-gray-200 cursor-not-allowed;
      }
    }

    /* & select {  
      @apply text-black;

      & option {
        @apply text-black cursor-pointer select-none relative py-1 sm:py-2 pl-2 sm:pl-6 pr-3 sm:pr-9 text-xs sm:text-sm
      }
    }   */

    & .invalid-feedback {
      @apply text-sm mt-1;
    }
  }
} 

.while-submitting { display: none; }

.phx-submit-loading .while-submitting { display: block; }
.phx-change-loading .while-submitting { display: block; }